<ul class="cluster-items">
    {{#each this}}
    <li>
        <div class="cluster-item">
            <img src="/image/{{metadata.name}}"
                 onload="this.style.visibility='visible';"
                 onerror="this.style.visibility='hidden';"/>
            <dl>
                <dt>Name</dt>
                <dd>{{metadata.name}}</dd>
                <dt>Status</dt>
                <dd>{{status.phase}}</dd>
                <dt>Image</dt>
                <dd>{{spec.containers.[0].image}}</dd>
                <dt>Labels</dt>
                <dd>
                    <ul class="cluster-item-labels">
                        {{#each metadata.labels as |value key|}}
                        <li class="cluster-item-label">
                            <em>{{key}}:</em> {{value}}
                        </li>
                        {{/each}}
                    </ul>
                </dd>
            </dl>
        </div>
    </li>
    {{/each}}
</ul>
